<div class="jumbotron bottom">
  <div class="row" style="margin-bottom: 40px">
    <div class="col-md-5">
      <%= image_tag @movie.poster, height: '400px' %>
    </div>
    <div class="col-md-7 text-center bottom" style="height:400px">
      <h2><%= @movie.name %></h2>
      <p>(<%= @movie.year %>)</p>
      
      <table class="table" style="margin-top:20px">
        <tr>
          <td>
            <div class="star star-md star-mbook star-center"><%= @mbookScore %></div>
            <%= image_tag "icon.ico", height:'23px' %>
            <%= @movie.posts.length %>
          </td>
          <td>
            <div class="star star-md star-imdb star-center"><%= @movie.score %></div>
            <%=  image_tag "imdb.png", height:'20px' %>
            <%= @movie.votes %>
          </td>
        </tr>
      </table>
      
      <table class="table table-bordered table-hover bottom-content" style="margin:0">
        <tr><td>Genres</td><td><%= @movie.genres %></td></tr>
        <tr><td>Country</td><td><%= @movie.countries %></td></tr>
        <tr><td>Writers</td><td><%= @movie.writers %></td></tr>
        <tr><td>Actors</td><td><%= @movie.actors %></td></tr>
      </table>
    </div>
  </div>
  
  <div class="row text-center bottom-content" style="margin: 0px">
    <% if !current_user.has_watch_item?(@movie) %>
      <%= button_to "Add to List", add_list_path(:id => @movie.id), 
        :class => "btn btn-block btn-default" %>
    <% else %>
      <%= button_to "Already in List", nil, :disabled => true, 
        :class => "btn btn-block btn-primary" %>
    <% end %>
  </div>
</div>

<% @movie.posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="star star-bg star-mbook"><%= post.score  %></div>
      <%= link_to(post.user) do %>
        <b><%= post.user.name %></b>
      <% end %>
    </div>
    <div class="panel-body">
      <%= post.text %>
    </div>
  </div>
<% end %>