<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-2 text-right">
    <%= link_to(post.user) do %>
      <h4 style="color:white"><%= post.user.name %></h4>
    <% end %>
    <small><%= post.created_at.strftime("%d/%m/%Y")%></small><br/>
    <small><%= post.created_at.strftime("%H:%M")%></small>
  </div>  
  
  <div class="col-md-10">
    <%= render 'posts/post', post: post %>
  </div>
</div>
<% end %>
        
<% if @posts.length == 0 %>
  <div class="jumbotron">
    <h3 class="text-center">There is not any post...</h3>
  </div>
<% end %>