<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= image_tag "logo.png", height:'50px' %> 
    </div>
    
    <div class="navbar-collapse navbar-right collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_url %></li>
        
        <li class="active"><a href="#">User Page</a></li>
        
        <%#*<li class="dropdown">%>
          <%#*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>%>
          <%#*<ul class="dropdown-menu">%>
        <li><%= link_to 'Sign Out', signout_url %></li>
          <%#*</ul>%>
        <%#*</li>%>
      </ul>
    </div>
  </div>
</div>

<div class="page userpage">
  <% @user.posts.each_with_index do |post, i| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="star-box-giga-star">8</div>
        <b><%= post.title %></b>
      </div>
      <div class="panel-body">
        <div class="col-sm-4"><img src="<%= @posters.at(i)%>" height="200px"/></div>
        <div class="col-lg-8"><%= post.text %></div>
      </div>
    </div>
  <% end %>
</div>