<div class="jumbotron">
  <div class="row">
    <div class="col-md-10">
      <h2><%= @user.name %></h2>
      
    </div>
    <div class="col-md-2 text-center">
      <h6>Following : <%= @user.followed_users.length %></h6>
      <h6>Followers : <%= @user.followers.length %></h6>
      <% if !current_user?(@user) %>
        <% if !current_user.following?(@user) %>
          <%= button_to "Follow", follow_path(:id => @user.id), :class => "btn btn-success" %>
        <% else %>
          <%= button_to "Unfollow", unfollow_path(:id => @user.id), :class => "btn btn-danger" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% @user.posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="star-box-giga-star">8</div>
      <b><%= post.title %></b>
    </div>
    <div class="panel-body">
      <div class="col-sm-4"><img src="<%= post.imdb.poster %>" height="200px"/></div>
      <div class="col-lg-8"><%= post.text %></div>
    </div>
  </div>
<% end %>
