<% feeling = post.feelings.find_by_user_id(current_user.id) %>
<% selfpost = (post.user_id == current_user.id) %>
<% if feeling %>
  <% likecolor = feeling.like ? 'btn-primary' : 'btn-default' %>
  <% unlikecolor = !feeling.like ? 'btn-primary' : 'btn-default' %>
<% end %>

<%= link_to post.movie do %>
<div class="panel panel-default">
  <div class="panel-heading">
      <div class="star star-bg star-mbook"><%= post.score %></div>
      <b><%= post.title %></b>
  </div>
  <div class="panel-body">
    <div class="col-sm-4"  style="margin-left: -15px">
      <%= image_tag post.movie.poster, height: '200px', width: '150px' %>
    </div>
    <div class="col-sm-7 bottom" style="height:200px">
      <%= post.text %>
      <div class="bottom-content">
        <%= form_tag(post, method: "get", class: 'navbar-form') do %>
          <%= submit_tag "Like (#{post.like})", :disabled => selfpost,
            :class => "btn btn-default #{likecolor}" %>
          <%= submit_tag "Unlike (#{post.unlike})", :disabled => selfpost,
            :class => "btn btn-default #{unlikecolor}"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
