<!DOCTYPE html>
<html>
<head>
  <title>Moviebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'icon.ico' %>
  <%= csrf_meta_tags %>
  
</head>
<body>

  <div class="container">
    <div class="page mainpage">
      <div class="one-half motto bottom">
        <div class="bottom-content">watch and share</div>
      </div>

      <div class="one-half last bottom" style="float: right; width: auto" align="center">
        <%= link_to  (image_tag "logo.png", width:'350px'), root_path %>
        <%= yield %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </div>
  
</body>
</html>
