<!DOCTYPE html>
<html>
<head>
  <title>Moviebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'icon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to (image_tag "logo.png", height:'47px'), root_path %>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="col-md-10">
            <%= form_tag('/search', method: "get", class: 'navbar-form') do %>
              <%= text_field_tag :id, nil, placeholder: "Search", class: 'form-control' %>
              <%= submit_tag "Search", :name => nil, :style => 'display:none'%>
            <% end %>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'home', root_url %></li>
            <li><%= link_to current_user.name, current_user %></li>
            <li><%= link_to 'sign-out', signout_url %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container theme-showcase" style="width:900px; margin-top:80px" role="main">
      <%= yield %>
    </div>
    
    <%= debug(params) if Rails.env.development? %>
  </div>
  
</body>
</html>
